In [1]:
x = 'hello'

In [2]:
x

'hello'

In [3]:
print(x)

hello

In [4]:
name = 12
age = 'Twenty'

In [5]:
print('My name is {} and my age is {}'.format(name, age))

My name is 12 and my age is Twenty

In [6]:
print('My name is {one} and my age is {two} and more {one}'.format(one=name,two=age))

My name is 12 and my age is Twenty and more 12

In [7]:
s = 'hello'

In [8]:
s[-1]

'o'

In [9]:
s[0]

'h'

In [10]:
s[:]

'hello'

In [11]:
s[:-2]

'hel'

In [12]:
s[:3]

'hel'

In [13]:
#Lists are sequence of elements in a square bracket separated by commas

In [14]:
[1,2,3]

[1, 2, 3]

In [15]:
l = ['a','b','c']

In [16]:
l.append('d')

In [17]:
l

['a', 'b', 'c', 'd']

In [18]:
l[0] = 'New'

In [19]:
l

['New', 'b', 'c', 'd']

In [20]:
nest = [1,2,[3,4]]

In [21]:
nest[2][1]

4

In [22]:
nest = [1,2,[3,4,['target']]]

In [23]:
nest[2][2]

['target']

In [24]:
nest[2][2][0]

'target'

In [25]:
print(nest[2][2][0])

target

In [26]:
dict = {'key1':'value1', 'key2' : 123}

In [27]:
dict['key2']

123

In [28]:
d = {'key1':'val', 'key2':[1,2,3]}

In [29]:
d['key2'][2]

3

In [30]:
d = {'key1':'val', 'key2':{'keyin':[1,2,3,4]}}

In [31]:
d['key2']['keyin'][3]

4

In [32]:
t = (1,2,3)

In [33]:
t[0]

1

In [34]:
#Set is collection of unique elements

In [35]:
set = {1,1,1,1,2,2,2,2,4,4,4}

In [36]:
set

{1, 2, 4}

In [37]:
set.add(5)

In [38]:
set

{1, 2, 4, 5}

In [39]:
1>=2

False

In [40]:
1==1

True

In [41]:
1!=3

True

In [42]:
1<2 and 2<3

True

In [43]:
1<2 or 2>3

True

In [44]:
#range is a generator
for i in range(5):
    print(i)

0
1
2
3
4

In [46]:
mylist = list(range(10))

In [47]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
out = [num**2 for num in range(10)]

In [49]:
out

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [51]:
def my_name(name='default'):
    print('Hello'+name)

In [52]:
my_name()

Hellodefault

In [60]:
def square(num):
    return num**2

In [61]:
value = square(3)

In [62]:
value

9

In [101]:
#map() is an inbuilt method in python,creates an iterator that computes the function taking arguments from each of the iterable

In [64]:
map(square,mylist)

In [65]:
list(map(square,mylist))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
newval = lambda var: var**2

In [68]:
newval(5)

25

In [69]:
list(map(lambda num: num**3, range(10)))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [70]:
#filter() is used to filter values

In [71]:
list(filter(lambda num: num%2==0, list(map(lambda num: num**3, range(10)))))

[0, 8, 64, 216, 512]

In [72]:
#methods are calls you can make to an object

In [76]:
str = 'hello this AAAA is'

In [77]:
str.lower

In [78]:
str.lower()

'hello this aaaa is'

In [79]:
str.upper()

'HELLO THIS AAAA IS'

In [80]:
str.split()

['hello', 'this', 'AAAA', 'is']

In [81]:
tup = (1,2,'gh',4)

In [82]:
tup[2]

'gh'

In [84]:
newdict = {'1':1, '2':'g'}

In [86]:
newdict.items()

dict_items([('1', 1), ('2', 'g')])

In [87]:
newdict.keys()

dict_keys(['1', '2'])

In [88]:
newdict.values()

dict_values([1, 'g'])

In [89]:
new_list = [1,2,3,4,5]

In [91]:
new_list.pop()

5

In [92]:
new_list

[1, 2, 3, 4]

In [93]:
'x' in [1,2,3,'x']

True

In [94]:
#List of tuples
X = [(1,2), (3,7), (4,5)]

In [95]:
X

[(1, 2), (3, 7), (4, 5)]

In [96]:
X[1]

(3, 7)

In [97]:
X[1][1]

7

In [100]:
#tuple unpacking for iterating through a list of tuples
for a,b in X:
    print(a)
    print(b)
#here X is the iterable

1
2
3
7
4
5